@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="user-info">
                <!-- Détails de l'utilisateur -->
                <div class="user-details">
                    <div class="user-name">John Doe</div>
                    <div class="user-position">Développeur</div>
                </div>
                <!-- Cercle avec les initiales -->
                <div class="user-circle">
                    <span class="user-initials">JD</span>
                </div>
             
            </div>


            <a href=""><img src="images/gear.svg" alt="Paramètre" style="width: 20px; height: 20px;" class="me-3" /></a>
            <a href=""><img src="images/bell.svg" alt="Notifications" style="width: 20px; height: 20px;" class="me-3" /></a>
            <a href=""><img src="images/power.svg" alt="" style="width: 20px; height: 20px;" class="me-3" /></a>

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
