@page "/home"
@using Gestion_Bunny.Modeles
@using Gestion_Bunny.Services
@using Microsoft.EntityFrameworkCore
@inject Gestion_Bunny.Services.IUserService EmployeeService
@inject AuthenticationState AuthState
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<h1>Bienvenue chez Bunny&Co.</h1>



@code {
    private string platform => DeviceInfo.Platform.ToString();

    protected override void OnInitialized()
    {
        // Subscribe to authentication state changes
        AuthState.OnAuthenticationStateChanged += StateHasChanged;
    }

    public void Dispose()
    {
        // Unsubscribe when component is disposed
        AuthState.OnAuthenticationStateChanged -= StateHasChanged;
    }
}